* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}



.img-responsive {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #fba1af;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff4757;
    font-weight: bold;
}


.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #fba1af;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #ff4757;
}

h1{
    color: #2f3542;
    font-size: 2rem;
}

.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    
}

/* ------------------css for navbar-------------------  */

.logo {
    border: 1px solid black;
    /* background-color: green; */
    width: 10%;
    float: left;
}

.menu {

    line-height: 40px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;

}

/* ------------end of navbar ----------------  */
.food-search {
    background-image: url(../images/bg.jpg);
    padding: 7% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.food-search input[type='search'] {
    border: none;
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border-radius: 5px;
}


/* ----------css for categories ------  */
.categories{
    padding: 4% 0 ;


}

.box-3{
    border: 1px solid red;
    width: 28%;
    float: left;
    margin: 2.5%;
}